
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
.item{
	width:100px;
	height:100px;
	font-size:30px;
	background-color:green;
}

#one{
	background-color:red;
	order:6;
}

#two{
	background-color:blue;
	order:7;
}